{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    {% bootstrap_css %}
</head>
<body>
    {% if posts_list %}
    {% buttons %}
        <button class="btn btn-primary">Submit</button>
    {% endbuttons %}
    <ul>
    {% for post in posts_list %}
        <li><a href="#">
            {{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <p>沒有文章可以顯示</p>
    {% endif %}
</body>
</html>