{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    {% bootstrap_css %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/all.css' %}">
</head>
<body>
    <header class="w-100">
        {% include 'header.html' %}
    </header>
    <main>
        {% if posts_list %}
        <ul>
        {% for post in posts_list %}
            <li><a href="#">
                {{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>沒有文章可以顯示</p>
        {% endif %}
    </main>
    
</body>
</html>